.blog-area {
  .single-blog-area {
    .blog-img {
      img {
        width: 100%;
      }
    }
    .blog-content {
      margin-bottom: 20px;
      transition: 0.5s;
      h2 {
        color: $theme-color-one;
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 10px;
        transition: all 1s ease 0s;
        letter-spacing: 5px;
      }
      h3 {
        color: $theme-color-two;
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 10px;
        transition: all 1s ease 0s;
        letter-spacing: 0.5px;
      }
      p {
        color: $theme-color-two;
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
      }
      .blog-post-date-info {
        color: $theme-color-two;
        font-size: 12px;
        font-weight: 700;
        text-align: end;
      }

      a {
        margin: 0;
        text-decoration: none;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .blog-area {
    .single-blog-area {
      .blog-content {
        h2 {
          font-size: 10px;
        }
        p {
          font-size: 12px;
        }

        .blog-review {
          ul {
            li {
              font-size: 10px;

              .fa {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
