/*====================================
service css
 ====================================*/
.service-area {
  .service-item {
    background-size: cover;
    background-position: top left;

    overflow: hidden;
    position: relative;
    max-width: 100%;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

    .service-content {
      .single-content {
        background: $theme-color-two;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 80px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        position: absolute;
        transition: all 1s ease-in-out;
        .content-list {
          .list-item {
            a {
              color: $theme-color-white;
              text-decoration: none;
            }
          }
        }
      }
    }
    &:hover {
      img {
        transform: scale(1.09, 1.09);
        transition: all 1s ease-in-out;
      }
      .service-content {
        .single-content {
          transition: all 1s ease-in-out;
          bottom: 16%;
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .service-area {
    .service-item {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
@media (max-width: 767.98px) {
  .service-area {
    .service-item {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .service-area {
    .service-item {
      img {
        height: 100%;
        width: 100%;
      }
      .service-content {
        .single-content {
          height: 50px;
          width: 50%;

          .content-list {
            .list-item {
              a {
                color: $theme-color-white;
                text-decoration: none;
                font-size: 15px;
              }
            }
          }
        }
      }
      &:hover {
        img {
          transform: scale(1.09, 1.09);
          transition: all 1s ease-in-out;
        }
        .service-content {
          .single-content {
            transition: all 1s ease-in-out;
            bottom: 16%;
          }
        }
      }
    }
  }
}
